.nav img{
     width:160px;
}
.nav {
display: flex;
background-color: white;
position: fixed;
width: 1600px;
margin-top: -10px;

}
.nav a{
    text-decoration: none;
    color: rgb(73, 70, 70);
    margin: 8px;
    margin-top: 30px;
    font-size: 15px;
   font-weight: bolder;
   font-family: verdana;
  
    
}

h3{
    margin-left: -10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: 100;
    color:rgb(73, 70, 70)
}

select{ 
    display: flex;
    border: none;
    font-size:15px ;
    font-family: verdana;
    font-weight: bolder;
    color: rgb(73, 70, 70);

}
.nav  p {
    
    border: 1px solid rgb(73, 70, 70);
    border-radius: 4px;
    height: 20px;
    margin-top: 20px;
    color: rgb(73, 70, 70);
    font-size:14px ;
    font-family: verdana;
    font-weight: bolder;
    color: rgb(73, 70, 70);
    padding: 10px;
    margin-left: 20px;
    width: 190px;
}
.nav a:hover{
    color: rgb(66, 66, 240);
}
p i{
    color:blue;
          
}
.nav pre{
    display: flex;
    margin-top: 20px ;
    color: rgb(73, 70, 70);
    font-size:14px ;
    font-family: verdana;
     margin-left: 20px; 
}
#bor{
       width: 100px;
       text-align: center;
       margin-top: 15px;
       color: white;
       background-color: #369c62;
}
.nav2{
    display: inline-flex;
    background-color: #B5145C;
    width: 1400px;
    height: 120px;
    font-family: "ITC Avant Garde", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(255, 255, 255);
    font-weight: bold;
    justify-content: center;
    font-size: 20px;
}
.nav select:hover{ 
color: rgb(66, 66,240);
}
.nav2 p{
    margin-top: 30px;
}
.nav2 i{
    margin-left: 10px;
    color: white;
    
    
}
.nav3{
    background-color: #0F2889;
    display: inline-flex;
    border-bottom-left-radius: 140% 400px;
    border-bottom-right-radius: 140% 400px;
    width: 1400px;
    height: 1100px;
    font-family:verdana ;
    color: rgb(255, 255, 255);
    
    text-align: center;
    justify-content: center;
}
.nav3{
    line-height: 15px;
    
}
.nav3 span{
    margin-top: 30px;
}
.nav3 h1 {
    line-height: 15px;
font-size: 60px;

    
}
marquee img{
    border-radius: 40px;
  
}
.nav3 pre{
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
   
}
.nav3 span button {
      margin-right: 250px;
      display: inline;

      background-color: rgb(1,111,218);
      border: none;
      color: white;
      margin-top: 20px;
      font-weight: bold;
      border-radius: 4px;
}

.cc p{
    text-align: center;
    font-family:"ITC Avant Garde",system-ui-apple-systemblinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,"Noto Sans",
     sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 32px;
    font-weight: bold;
    color: #032D60;
 
}
.te{
   
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    margin-left: 40px;

}
.te button{
    background-color: #0176D3;
    color: azure;
    border: none;
    height: 55px;
    width:190px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.imgg{
    background-color: white;
}

.imgg img{
width: 1400px;
margin-top: 70px;


}
.new1{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #032D50;
    margin-left: 30px;
    margin-top: 70px;
}


.new1 p{
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-align: center;
    line-height: 30px;
}
.card{
    border: 1px solid #ffffff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    
    margin-left: 40px;
    border-radius: 5%;
    width: 290px;
  
    height: 280px;
}
.card p{
     font-weight: bold; 
     color: rgb(3, 45, 96);
      font-size: 25px;
       font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.all{
    display:grid;
    grid-template-columns: repeat(4,280px);
    grid-auto-rows: minmax(190px,auto);
    grid-gap: 3em;

}
.cards{
      border: 1px solid #ffffff;
    box-shadow: 0 6px 16px rgba(30, 30, 30, 0.12);
    margin-top: 90px;
    margin-left: 150px;
    border-radius: 5%;
    width: 190px;
    border-radius: 10px;
    height: 80px;

}

.allcard{
display: grid;
 grid-template-columns: repeat(5,100px);
    grid-auto-rows: minmax(70px,auto);
    grid-gap: 8em;

}
.newc{
 border: 1px solid #ffffff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 10px;
    width: 1250px;
    height: 430px;
    
}


.card2{
 border: 1px solid #ffffff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    margin-top: 40px;
    margin-left: 60px;
    border-radius: 10px;
    width: 600px;
    height: 230px;
    
}
.footer a{
    color: #1364AE;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.new1 span:hover{
    cursor:pointer;
}